{% extends 'base.html'%}

    {% block content %}
        <div class="col-12 mt-2">
            <div class="row">
                <div class="px-4 py-5">
                    <h2 class="pb-2 border-bottom">Cursos em Destaque</h2>
                    <div class="row g-4 py-5 row-cols-1 row-cols-lg-3"
                        <div class="col">
                            <div class="mb-3">
                                <img src="{{ url_for('static', filename='images/logica.png')}}" height="100" width="100"
                            </div>
                            <h3 class="fs-2>"Logica de Programação</h3>
                            <p>Logica de programação refere-se a capacidade de pensar e resolver problema de forma</p>
                            <a href="#" class="icon-link">Saiba mais</a>
                        </div>
                        <div class="col"
                            <div class="mb-3"
                                <img src="{{url_for('static',filename='imagens/db.png')}}"height="100"
                        </div>
                        <h3 class="fs-2">Banco de dados</h3>
                        <p>Um banco de dados é um sistema organozado e estruturado para armazenar e gerenciar</p>
                        <a href="#" class="icon-link">Saiba mais</a>  
                </div>        
            </div>
        </div>
    </div>    
</div>                <div class="col">
                        <div class="mb-3">
                            <img src="{{ url/-for('static', filename=imagens/banner.png)}}">
                    {% endblock}
                    
                    {% block content %}

                    {% endblock %}
                </div>
                    <script src="https://cdnjsdelivr.net/npm/boostrap@5.3.0-alpha3/dist/js/bootstrap.bund"
    